:root {  
    /* Theme info & settings */
    --palletename:'FusionUI';
    --fontname: 'Poppins', sans-serif;
    --version: 1.1.0;
    --transition: .2s ease;

    /* Color pallete */
    --red: #d60d1d;
    --cherry: #7c0404;
    --darkblue: #011fbe;
    --blue: #0e3cfb;
    --lightblue: #376dff;
    --yellow: #f1b306;
    --orange: #cf710d;
    --deeporange: #e93f0e;
    --green: #0f9531;
    --lightgreen: #6bf16a;
    --pink: #e73b9d;
    --purple: #9f0dd6;
    --indigo: #350bd9;
    --cyan: #0fecda;
    --brown: #702c0a;
    --bluegray: #313543;
    --darkgray: #141424;
    --gray: #212137;
    --lightgray: #9599a7;
    --white: #fff;
    --black: #000;

    /* Additional colors */
    --selection: #8872de54;
    --primaryfocus: #7b5aff;
    --secondary: var(--bluegray);
    --primary: var(--indigo);
    --warning: var(--orange);
    --success: var(--green);
    --error: var(--red);

    /* Components styles */
    --scrollbar-bg: #00000045;
    --scrollbar-color: var(--primary);
    --button-padding: .55rem 1.15rem;
    --button-hover-overlay-opacity: 18%;
    --button-hover-overlay-rgb: 0 0 0;
    --button-hover-filter: drop-shadow(0 6px 8px rgb(0 0 0 / .2));
    --primary-color: white;--round: .4rem;
    --ring-width: 2px;
    --ring-offset: -1px;
    --mobile-nav-bg: #141424db;
    --mobile-nav-blur: 10px;
}
